<Page class="page">

<Page.actionBar>
    <ActionBar title="Login App" class="action-bar">
    </ActionBar>
    </Page.actionBar>
<FlexboxLayout class="page" >
    <StackLayout class="form">
        <label class="header text-primary" text="{{Welcome}}"></label>    
        
        <StackLayout class="input-field">
             <TextField class="input" hint="Email" text="{{email}}"></TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <TextField class="input" secure="true" hint="Password" text="{{password}}"></TextField>
        </StackLayout>
        
        
        <Button class="botn btn-primary" (tap)="Login($event)"></Button>

        <AbsoluteLayout >
        
            <Button left="10" top="10" class="btn btn-danger" id="login" 
            (tap)="onTapLoginGooglePlus($event)"></Button>


            <Button left="150" top="10"
            class="btn btn-facebook" id="login" 
            (tap)="onTapLoginFacebook($event)"></Button>  

        </AbsoluteLayout>

    

    </StackLayout>   
</FlexboxLayout>
 </Page>